@import '../variables';

.footer {
  border-top: 2px solid $gray-color;
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 90%;
  height: 180px;
  &__container {
    display: flex;
    flex-direction: column;
    margin: 35px 26px 0;
  }

  &__text {
    opacity: 0.5;
    font-size: 20px;
    margin-bottom: 21px;
  }
}

.social__list {
  list-style: none;
  display: flex;
  gap: 14px;

  &__item {
    height: 32px;
    width: 32px;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}