*,
*::before,
*::after {
  box-sizing: border-box;

}

body {
  margin: 0 auto;
  max-width: 1920px;
  min-width: 320px;
  background-color: #030303;
  color: white;
  font-family: 'Poppins','Lato', 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}